@import '_reset';
@import '_media-queries';

@font-face {
	font-family: 'Space Grotesk Variable';
	src:	url("../fonts/SpaceGrotesk[wght].woff2") format("woff2"),
			url("../fonts/SpaceGrotesk[wght].woff") format("woff");
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: 'Space Grotesk';
	src:	url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"),
			url("../fonts/SpaceGrotesk-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Space Grotesk';
	src:	url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
			url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Space Grotesk';
	src:	url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
			url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Space Grotesk';
	src:	url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
			url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	font-family: 'Space Grotesk';
	font-weight: 400;
	font-size: 1rem;
	line-height: 1;
	letter-spacing: 0em;
	-webkit-font-smoothing: antialiased;

	color: white;
	background-color: black;
	padding-bottom: 2.75rem;

	
}

span.label {
	display: block;
	padding-bottom: 2.5rem;

	font-family: 'Space Grotesk';
	font-weight: 500;
	font-size: 1rem;
	line-height: 1;
	letter-spacing: 0.04em;
}

section {
	padding: 0 2.5rem;

	& > .content {
		padding: 2.75rem 0;
		border-bottom: solid white 0.85vw;
	}
}

.columns {
	display: flex;
	align-items: baseline;

	.column {
		width: 50%;
		flex: 0 0 50%;

		&:first-child {
			border-right: solid white 0.85vw;
		}

		&:last-child {
			padding-left: 2.5rem;
		}

		& > div {
			transform: translateX(-0.4vw);
		}
	}

	font-size: 10vw;
	line-height: 0.9;
	font-weight: 400;
}

.waterfall {
	& > div {
		overflow: hidden;

		span {
			display: block;
			white-space: nowrap;

			&:nth-child(1), &:nth-child(2) {
				font-weight: 700;
			}

			&:nth-child(3), &:nth-child(4) {
				font-weight: 500;
			}

			&:nth-child(5), &:nth-child(6) {
				font-weight: 400;
			}

			&:nth-child(7), &:nth-child(8) {
				font-weight: 300;
			}
		}
	}
}

.style-overview {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 244px 244px;

	.paragraph {
		overflow: hidden;

		& > div {
			overflow: hidden;
		}
	}

	.paragraph.large {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 3;

		font-size: 24px;
		line-height: 32px;

		& > div {
			max-height: calc(32px * 14);
			padding-right: 2rem;
		}
	}

	.paragraph.medium {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;

		font-size: 21px;
		line-height: 24px;	

		& > div {
			max-height: calc(24px * 8);
		}
	}

	.paragraph.small {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;

		font-size: 13px;
		line-height: 18px;

		& > div {
			max-height: calc(18px * 10);
		}

		align-self: end;
		padding-bottom: 2px;
	}
}

section > .character-set {
	display: flex;
	padding-top: 0;
	padding-bottom: 3rem;

	& > div {
		width: 50%;
		flex: 0 0 50%;
	}

	span.label {
		padding-bottom: 2.75rem;
	}

	.character-preview {
		padding-right: 2.5rem;

		& > div {
			position: sticky;
			top: 0;
			padding-top: 2.75rem;

			div.character {
				display: flex;
				justify-content: space-around;
				align-items: center;
				border: 1px solid white;

				font-size: 32vw;
				line-height: 1;
				font-weight: 700;

				height: calc(100vh - 9.25rem);

				span {
					padding-top: 2vw;
				}
			}
		}
	}

	.character-list {
		padding-top: 2.75rem;

		.character-group {
			& + .character-group {
				padding-top: 2.5rem;
			}

			& > div {
				display: flex;
				flex-wrap: wrap;
				border-top: 1px solid white;
				border-left: 1px solid white;

				& > span {
					width: 12.5%;
					width: 0 0 12.5%;
					padding: 2vw 0;

					border-right: 1px solid white;
					border-bottom: 1px solid white;

					font-size: 2.5vw;
					font-weight: 700;
					text-align: center;

					&.active {
						background-color: white;
						color: black;
					}
				}
			}
		}
	}
}
