<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>700</integer>
  <key>capHeight</key>
  <integer>700</integer>
  <key>copyright</key>
  <string>Copyright 2020 The Space Grotesk Project Authors (https://github.com/floriankarsten/space-grotesk)</string>
  <key>descender</key>
  <integer>-214</integer>
  <key>familyName</key>
  <string>Space Grotesk</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>250</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2022/06/16 14:15:19</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>984</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-292</integer>
  <key>openTypeHheaLineGap</key>
  <integer>-0</integer>
  <key>openTypeNameDesigner</key>
  <string>Florian Karsten</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://fonts.floriankarsten.com</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Florian Karsten</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://fonts.floriankarsten.com</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Space Grotesk</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Light</string>
  <key>openTypeNameVersion</key>
  <string>Version 2.000</string>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>291</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>700</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-214</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>-0</integer>
  <key>openTypeOS2VendorID</key>
  <string>FK</string>
  <key>openTypeOS2WeightClass</key>
  <integer>300</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1150</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>292</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-14</integer>
    <integer>0</integer>
    <integer>700</integer>
    <integer>714</integer>
    <integer>486</integer>
    <integer>500</integer>
  </array>
  <key>postscriptFontName</key>
  <string>SpaceGrotesk-Light</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Space Grotesk Light</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-214</integer>
    <integer>-200</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>52</integer>
    <integer>56</integer>
    <integer>55</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>60</integer>
    <integer>64</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Light</string>
  <key>styleMapFamilyName</key>
  <string>Space Grotesk Light</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Light</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>2</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>486</integer>
</dict>
</plist>
