<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>slash</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>backslash</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>ellipsis</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>periodcentered</string>
    <string>bullet</string>
    <string>underscore</string>
    <string>at</string>
    <string>ampersand</string>
    <string>asterisk</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>Aring</string>
    <string>Aogonek</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Cdotaccent</string>
    <string>Eth</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Eogonek</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Itilde</string>
    <string>Idieresis</string>
    <string>Imacron</string>
    <string>Idotaccent</string>
    <string>Iogonek</string>
    <string>Ibreve</string>
    <string>Jcircumflex</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni1E38</string>
    <string>Lslash</string>
    <string>Ldot</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Omacron</string>
    <string>Ohungarumlaut</string>
    <string>Obreve</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni1E5C</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Tcaron</string>
    <string>Tbar</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Utilde</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Wcircumflex</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Thorn</string>
    <string>Eng</string>
    <string>IJ</string>
    <string>IJacute</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>aring</string>
    <string>aogonek</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>cdotaccent</string>
    <string>eth</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>ecaron</string>
    <string>edieresis</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>eogonek</string>
    <string>edotaccent</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>hcircumflex</string>
    <string>hbar</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>itilde</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>ibreve</string>
    <string>jcircumflex</string>
    <string>kgreenlandic</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni1E39</string>
    <string>lslash</string>
    <string>ldot</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>napostrophe</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>omacron</string>
    <string>ohungarumlaut</string>
    <string>obreve</string>
    <string>oslash</string>
    <string>oe</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni1E5D</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>germandbls</string>
    <string>longs</string>
    <string>tcaron</string>
    <string>tbar</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>utilde</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>uogonek</string>
    <string>wcircumflex</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>thorn</string>
    <string>eng</string>
    <string>ij</string>
    <string>ijacute</string>
    <string>uni0251</string>
    <string>pi</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>section</string>
    <string>paragraph</string>
    <string>copyright</string>
    <string>registered</string>
    <string>trademark</string>
    <string>uni2120</string>
    <string>numbersign</string>
    <string>currency</string>
    <string>dollar</string>
    <string>sterling</string>
    <string>yen</string>
    <string>cent</string>
    <string>fraction</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>plus</string>
    <string>minus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>equal</string>
    <string>less</string>
    <string>greater</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>plusminus</string>
    <string>asciicircum</string>
    <string>notequal</string>
    <string>asciitilde</string>
    <string>approxequal</string>
    <string>logicalnot</string>
    <string>infinity</string>
    <string>degree</string>
    <string>partialdiff</string>
    <string>lozenge</string>
    <string>integral</string>
    <string>radical</string>
    <string>summation</string>
    <string>product</string>
    <string>Omega</string>
    <string>Delta</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>tilde</string>
    <string>dieresis</string>
    <string>macron</string>
    <string>breve</string>
    <string>ring</string>
    <string>hungarumlaut</string>
    <string>dotaccent</string>
    <string>cedilla</string>
    <string>ogonek</string>
    <string>fi</string>
    <string>fl</string>
    <string>florin</string>
    <string>acutecomb</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>uni2071</string>
    <string>uni207F</string>
    <string>uni2094</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehookabove</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhookabove</string>
    <string>Acircumflextilde</string>
    <string>Adblgrave</string>
    <string>Adotbelow</string>
    <string>Ahookabove</string>
    <string>Ainvertedbreve</string>
    <string>Aringacute</string>
    <string>AEacute</string>
    <string>Bstroke</string>
    <string>Ccedillaacute</string>
    <string>DZcaron</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>Dzcaron</string>
    <string>Ecedillabreve</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhookabove</string>
    <string>Ecircumflextilde</string>
    <string>Edblgrave</string>
    <string>Edotbelow</string>
    <string>Ehookabove</string>
    <string>Einvertedbreve</string>
    <string>Emacronacute</string>
    <string>Emacrongrave</string>
    <string>Etilde</string>
    <string>Gcaron</string>
    <string>Gcommaaccent</string>
    <string>Gmacron</string>
    <string>Hbrevebelow</string>
    <string>Hdotbelow</string>
    <string>Icaron</string>
    <string>Idblgrave</string>
    <string>Idieresisacute</string>
    <string>Idotbelow</string>
    <string>Ihookabove</string>
    <string>Iinvertedbreve</string>
    <string>Jacute</string>
    <string>Kcommaaccent</string>
    <string>LJ</string>
    <string>Lcommaaccent</string>
    <string>Ldotbelow</string>
    <string>Lj</string>
    <string>Llinebelow</string>
    <string>Mdotbelow</string>
    <string>NJ</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Nj</string>
    <string>Nlinebelow</string>
    <string>Ocaron</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhookabove</string>
    <string>Ocircumflextilde</string>
    <string>Odblgrave</string>
    <string>Odieresismacron</string>
    <string>Odotaccentmacron</string>
    <string>Odotbelow</string>
    <string>Ohookabove</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhookabove</string>
    <string>Ohorntilde</string>
    <string>Oinvertedbreve</string>
    <string>Omacronacute</string>
    <string>Omacrongrave</string>
    <string>Oogonek</string>
    <string>Oslashacute</string>
    <string>Otildeacute</string>
    <string>Otildedieresis</string>
    <string>Otildemacron</string>
    <string>Rcommaaccent</string>
    <string>Rdblgrave</string>
    <string>Rdotbelow</string>
    <string>Rinvertedbreve</string>
    <string>Rlinebelow</string>
    <string>Sacutedotaccent</string>
    <string>Scarondotaccent</string>
    <string>Scommaaccent</string>
    <string>Sdotaccent</string>
    <string>Sdotbelow</string>
    <string>Sdotbelowdotaccent</string>
    <string>Germandbls</string>
    <string>Schwa</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
    <string>Ucaron</string>
    <string>Udblgrave</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udieresismacron</string>
    <string>Udotbelow</string>
    <string>Uhookabove</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhookabove</string>
    <string>Uhorntilde</string>
    <string>Uinvertedbreve</string>
    <string>Umacrondieresis</string>
    <string>Utildeacute</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>Ydotaccent</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhookabove</string>
    <string>Ymacron</string>
    <string>Ytilde</string>
    <string>Zdotbelow</string>
    <string>B.ss04</string>
    <string>Bstroke.ss04</string>
    <string>D.ss04</string>
    <string>DZcaron.ss04</string>
    <string>Eth.ss04</string>
    <string>Dcaron.ss04</string>
    <string>Dcroat.ss04</string>
    <string>Ddotbelow.ss04</string>
    <string>Dlinebelow.ss04</string>
    <string>Dzcaron.ss04</string>
    <string>IJ.ss04</string>
    <string>J.ss04</string>
    <string>Jacute.ss04</string>
    <string>Jcircumflex.ss04</string>
    <string>LJ.ss04</string>
    <string>NJ.ss04</string>
    <string>I.ss05</string>
    <string>Iacute.ss05</string>
    <string>Ibreve.ss05</string>
    <string>Icaron.ss05</string>
    <string>Icircumflex.ss05</string>
    <string>Idblgrave.ss05</string>
    <string>Idieresis.ss05</string>
    <string>Idieresisacute.ss05</string>
    <string>Idotaccent.ss05</string>
    <string>Idotbelow.ss05</string>
    <string>Igrave.ss05</string>
    <string>Ihookabove.ss05</string>
    <string>Iinvertedbreve.ss05</string>
    <string>Imacron.ss05</string>
    <string>Iogonek.ss05</string>
    <string>Itilde.ss05</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehookabove</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhookabove</string>
    <string>acircumflextilde</string>
    <string>adblgrave</string>
    <string>adotbelow</string>
    <string>ahookabove</string>
    <string>ainvertedbreve</string>
    <string>aringacute</string>
    <string>aeacute</string>
    <string>bstroke</string>
    <string>ccedillaacute</string>
    <string>ddotbelow</string>
    <string>dlinebelow</string>
    <string>dzcaron</string>
    <string>ecedillabreve</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhookabove</string>
    <string>ecircumflextilde</string>
    <string>edblgrave</string>
    <string>edotbelow</string>
    <string>ehookabove</string>
    <string>einvertedbreve</string>
    <string>emacronacute</string>
    <string>emacrongrave</string>
    <string>etilde</string>
    <string>schwa</string>
    <string>gcaron</string>
    <string>gcommaaccent</string>
    <string>gmacron</string>
    <string>hbrevebelow</string>
    <string>hdotbelow</string>
    <string>idotless</string>
    <string>icaron</string>
    <string>idblgrave</string>
    <string>idieresisacute</string>
    <string>idotaccent</string>
    <string>idotbelow</string>
    <string>ihookabove</string>
    <string>iinvertedbreve</string>
    <string>jdotless</string>
    <string>jacute</string>
    <string>kcommaaccent</string>
    <string>lcommaaccent</string>
    <string>ldotbelow</string>
    <string>lj</string>
    <string>llinebelow</string>
    <string>mdotbelow</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
    <string>ndotbelow</string>
    <string>nj</string>
    <string>nlinebelow</string>
    <string>ocaron</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhookabove</string>
    <string>ocircumflextilde</string>
    <string>odblgrave</string>
    <string>odieresismacron</string>
    <string>odotaccentmacron</string>
    <string>odotbelow</string>
    <string>ohookabove</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhookabove</string>
    <string>ohorntilde</string>
    <string>oinvertedbreve</string>
    <string>omacronacute</string>
    <string>omacrongrave</string>
    <string>oogonek</string>
    <string>oslashacute</string>
    <string>otildeacute</string>
    <string>otildedieresis</string>
    <string>otildemacron</string>
    <string>rcommaaccent</string>
    <string>rdblgrave</string>
    <string>rdotbelow</string>
    <string>rinvertedbreve</string>
    <string>rlinebelow</string>
    <string>sacutedotaccent</string>
    <string>scarondotaccent</string>
    <string>scommaaccent</string>
    <string>sdotaccent</string>
    <string>sdotbelow</string>
    <string>sdotbelowdotaccent</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>tdieresis</string>
    <string>tdotbelow</string>
    <string>tlinebelow</string>
    <string>ucaron</string>
    <string>udblgrave</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>udotbelow</string>
    <string>uhookabove</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhookabove</string>
    <string>uhorntilde</string>
    <string>uinvertedbreve</string>
    <string>umacrondieresis</string>
    <string>utildeacute</string>
    <string>wacute</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>ydotaccent</string>
    <string>ydotbelow</string>
    <string>ygrave</string>
    <string>yhookabove</string>
    <string>ymacron</string>
    <string>ytilde</string>
    <string>zdotbelow</string>
    <string>a.ss01</string>
    <string>aacute.ss01</string>
    <string>abreve.ss01</string>
    <string>abreveacute.ss01</string>
    <string>abrevedotbelow.ss01</string>
    <string>abrevegrave.ss01</string>
    <string>abrevehookabove.ss01</string>
    <string>abrevetilde.ss01</string>
    <string>acaron.ss01</string>
    <string>acircumflex.ss01</string>
    <string>acircumflexacute.ss01</string>
    <string>acircumflexdotbelow.ss01</string>
    <string>acircumflexgrave.ss01</string>
    <string>acircumflexhookabove.ss01</string>
    <string>acircumflextilde.ss01</string>
    <string>adblgrave.ss01</string>
    <string>adieresis.ss01</string>
    <string>adotbelow.ss01</string>
    <string>agrave.ss01</string>
    <string>ahookabove.ss01</string>
    <string>ainvertedbreve.ss01</string>
    <string>amacron.ss01</string>
    <string>aogonek.ss01</string>
    <string>aring.ss01</string>
    <string>aringacute.ss01</string>
    <string>atilde.ss01</string>
    <string>g.ss02</string>
    <string>gbreve.ss02</string>
    <string>gcaron.ss02</string>
    <string>gcircumflex.ss02</string>
    <string>gcommaaccent.ss02</string>
    <string>gdotaccent.ss02</string>
    <string>gmacron.ss02</string>
    <string>y.ss03</string>
    <string>yacute.ss03</string>
    <string>ycircumflex.ss03</string>
    <string>ydieresis.ss03</string>
    <string>ydotaccent.ss03</string>
    <string>ydotbelow.ss03</string>
    <string>ygrave.ss03</string>
    <string>yhookabove.ss03</string>
    <string>ymacron.ss03</string>
    <string>ytilde.ss03</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>f_f_j.liga</string>
    <string>f_j.liga</string>
    <string>f_lcaron.liga</string>
    <string>t_t.liga</string>
    <string>ordfeminine.ss01</string>
    <string>zero.zero</string>
    <string>zero.lf</string>
    <string>one.lf</string>
    <string>two.lf</string>
    <string>three.lf</string>
    <string>four.lf</string>
    <string>five.lf</string>
    <string>six.lf</string>
    <string>seven.lf</string>
    <string>eight.lf</string>
    <string>nine.lf</string>
    <string>zero.lf.zero</string>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
    <string>zero.osf.zero</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tf.zero</string>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
    <string>zero.tosf.zero</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>zero.subs</string>
    <string>zero.sinf</string>
    <string>one.sinf</string>
    <string>two.sinf</string>
    <string>three.sinf</string>
    <string>four.sinf</string>
    <string>five.sinf</string>
    <string>six.sinf</string>
    <string>seven.sinf</string>
    <string>eight.sinf</string>
    <string>nine.sinf</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>zero.sups</string>
    <string>one.sups</string>
    <string>two.sups</string>
    <string>three.sups</string>
    <string>four.sups</string>
    <string>five.sups</string>
    <string>six.sups</string>
    <string>seven.sups</string>
    <string>eight.sups</string>
    <string>nine.sups</string>
    <string>zeroinferior.zero</string>
    <string>zero.subs.zero</string>
    <string>zero.sinf.zero</string>
    <string>zero.dnom.zero</string>
    <string>zero.numr.zero</string>
    <string>zerosuperior.zero</string>
    <string>zero.sups.zero</string>
    <string>exclamdown.case</string>
    <string>questiondown.case</string>
    <string>periodcentered.case</string>
    <string>bullet.case</string>
    <string>periodcentered.loclCAT.case</string>
    <string>slash.case</string>
    <string>backslash.case</string>
    <string>periodcentered.loclCAT</string>
    <string>parenleftinferior</string>
    <string>parenrightinferior</string>
    <string>parenleftsuperior</string>
    <string>parenrightsuperior</string>
    <string>parenleft.case</string>
    <string>parenright.case</string>
    <string>braceleft.case</string>
    <string>braceright.case</string>
    <string>bracketleft.case</string>
    <string>bracketright.case</string>
    <string>softhyphen</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>hyphentwo</string>
    <string>hyphen.case</string>
    <string>softhyphen.case</string>
    <string>endash.case</string>
    <string>emdash.case</string>
    <string>figuredash.case</string>
    <string>horizontalbar.case</string>
    <string>hyphentwo.case</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guillemetleft.case</string>
    <string>guillemetright.case</string>
    <string>guilsinglleft.case</string>
    <string>guilsinglright.case</string>
    <string>leftanglebracket-math</string>
    <string>rightanglebracket-math</string>
    <string>leftanglebracket-math.case</string>
    <string>rightanglebracket-math.case</string>
    <string>figurespace</string>
    <string>hairspace</string>
    <string>punctuationspace</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>.notdef</string>
    <string>baht</string>
    <string>bitcoin</string>
    <string>cedi</string>
    <string>colonsign</string>
    <string>dong</string>
    <string>euro</string>
    <string>franc</string>
    <string>guarani</string>
    <string>kip</string>
    <string>lira</string>
    <string>liraTurkish</string>
    <string>manat</string>
    <string>naira</string>
    <string>peseta</string>
    <string>peso</string>
    <string>ruble</string>
    <string>rupeeIndian</string>
    <string>won</string>
    <string>baht.ss04</string>
    <string>bitcoin.ss04</string>
    <string>bulletoperator</string>
    <string>commercialMinusSign</string>
    <string>divisionslash</string>
    <string>emptyset</string>
    <string>Ohm</string>
    <string>increment</string>
    <string>micro</string>
    <string>upArrow</string>
    <string>northEastArrow</string>
    <string>rightArrow</string>
    <string>southEastArrow</string>
    <string>downArrow</string>
    <string>southWestArrow</string>
    <string>leftArrow</string>
    <string>northWestArrow</string>
    <string>leftRightArrow</string>
    <string>upDownArrow</string>
    <string>northEastArrow.case</string>
    <string>rightArrow.case</string>
    <string>leftArrow.case</string>
    <string>northWestArrow.case</string>
    <string>leftRightArrow.case</string>
    <string>minute</string>
    <string>second</string>
    <string>literSign</string>
    <string>estimated</string>
    <string>numero</string>
    <string>at.case</string>
    <string>bar.case</string>
    <string>brokenbar.case</string>
    <string>apostrophemod</string>
    <string>commaturnedmod</string>
    <string>doubleprimemod</string>
    <string>firsttonechinese</string>
    <string>fourthtonechinese</string>
    <string>primemod</string>
    <string>ringhalfleft</string>
    <string>ringhalfright</string>
    <string>secondtonechinese</string>
    <string>verticallinelowmod</string>
    <string>verticallinemod</string>
    <string>dieresiscomb</string>
    <string>dotaccentcomb</string>
    <string>gravecomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb.alt</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>brevecomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>hookabovecomb</string>
    <string>dblgravecomb</string>
    <string>breveinvertedcomb</string>
    <string>commaturnedabovecomb</string>
    <string>horncomb</string>
    <string>dotbelowcomb</string>
    <string>dieresisbelowcomb</string>
    <string>commaaccentcomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>brevebelowcomb</string>
    <string>macronbelowcomb</string>
    <string>dieresiscomb.case</string>
    <string>dotaccentcomb.case</string>
    <string>gravecomb.case</string>
    <string>acutecomb.case</string>
    <string>hungarumlautcomb.case</string>
    <string>circumflexcomb.case</string>
    <string>caroncomb.case</string>
    <string>brevecomb.case</string>
    <string>ringcomb.case</string>
    <string>tildecomb.case</string>
    <string>macroncomb.case</string>
    <string>hookabovecomb.case</string>
    <string>dblgravecomb.case</string>
    <string>gravecomb_side</string>
    <string>acutecomb_side</string>
    <string>hookabovecomb_side</string>
    <string>strokeshortcomb</string>
    <string>strokelongcomb</string>
    <string>slashshortcomb</string>
    <string>slashlongcomb</string>
    <string>gravecomb_side.case</string>
    <string>acutecomb_side.case</string>
    <string>hookabovecomb_side.case</string>
    <string>brevecomb_acutecomb</string>
    <string>brevecomb_gravecomb</string>
    <string>brevecomb_hookabovecomb</string>
    <string>brevecomb_tildecomb</string>
    <string>circumflexcomb_acutecomb</string>
    <string>circumflexcomb_gravecomb</string>
    <string>circumflexcomb_hookabovecomb</string>
    <string>circumflexcomb_tildecomb</string>
    <string>brevecomb_acutecomb.case</string>
    <string>brevecomb_gravecomb.case</string>
    <string>brevecomb_hookabovecomb.case</string>
    <string>brevecomb_tildecomb.case</string>
    <string>circumflexcomb_acutecomb.case</string>
    <string>circumflexcomb_gravecomb.case</string>
    <string>circumflexcomb_hookabovecomb.case</string>
    <string>circumflexcomb_tildecomb.case</string>
    <string>horncomb_o</string>
    <string>IJacute.ss04</string>
    <string>apostrophecomb</string>
    <string>ringacutecomb</string>
    <string>ringacutecomb.case</string>
    <string>strokemidcomb</string>
    <string>pecyr</string>
    <string>acyr</string>
    <string>iecyr</string>
    <string>kacyr</string>
    <string>ocyr</string>
    <string>ercyr</string>
    <string>escyr</string>
    <string>ucyr</string>
    <string>hacyr</string>
    <string>Acyr</string>
    <string>Vecyr</string>
    <string>Iecyr</string>
    <string>Icyr</string>
    <string>Kacyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>icyr</string>
    <string>encyr</string>
    <string>ishortcyr</string>
    <string>becyr</string>
    <string>elcyr</string>
    <string>decyr</string>
    <string>tsecyr</string>
    <string>vecyr</string>
    <string>emcyr</string>
    <string>gecyr</string>
    <string>tecyr</string>
    <string>efcyr</string>
    <string>shacyr</string>
    <string>checyr</string>
    <string>shchacyr</string>
    <string>Pecyr</string>
    <string>Gecyr</string>
    <string>Becyr</string>
    <string>Efcyr</string>
    <string>Shacyr</string>
    <string>Elcyr</string>
    <string>Decyr</string>
    <string>Shchacyr</string>
    <string>Tsecyr</string>
    <string>Ishortcyr</string>
    <string>Zecyr</string>
    <string>Ereversedcyr</string>
    <string>Hacyr</string>
    <string>Hardcyr</string>
    <string>Softcyr</string>
    <string>Ylongcyr</string>
    <string>Ucyr</string>
    <string>Checyr</string>
    <string>Dzecyr</string>
    <string>ushortcyr</string>
    <string>Ushortcyr</string>
    <string>Iocyr</string>
    <string>iocyr</string>
    <string>ereversedcyr</string>
    <string>Yacyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>yukrcyr</string>
    <string>iukrcyr</string>
    <string>softcyr</string>
    <string>Yucyr</string>
    <string>Zhecyr</string>
    <string>yucyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>yacyr</string>
    <string>gjecyr</string>
    <string>Gjecyr</string>
    <string>Yukrcyr</string>
    <string>eukrcyr</string>
    <string>Eukrcyr</string>
    <string>Geupcyr</string>
    <string>geupcyr</string>
    <string>dzecyr</string>
    <string>kjecyr</string>
    <string>Kjecyr</string>
    <string>jecyr</string>
    <string>Jecyr</string>
    <string>Dzhecyr</string>
    <string>dzhecyr</string>
    <string>Iukrcyr</string>
    <string>Djecyr</string>
    <string>djecyr</string>
    <string>tshecyr</string>
    <string>Tshecyr</string>
    <string>ljecyr</string>
    <string>njecyr</string>
    <string>Njecyr</string>
    <string>Ljecyr</string>
    <string>acyr.ss01</string>
    <string>ucyr.ss03</string>
    <string>Becyr.ss04</string>
    <string>Vecyr.ss04</string>
  </array>
</dict>
</plist>
